<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <wicket:enclosure child="name">
        <div class="category">
            <div class="name" wicket:id="name"></div>
            <div class="items">
                <wicket:container wicket:id="items">
                    <div wicket:id="tag"></div>
                </wicket:container>
            </div>
            <div class="clear"></div>
        </div>
    </wicket:enclosure>
</wicket:panel>
</body>
</html>