<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:extend>
    <div class="course_paidinvoice">
        <div wicket:id="price" class="price"></div>

        <div class="term">
            <div wicket:id="termLabel" class="label"></div>
            <a class="link" wicket:id="termButton">
                <div wicket:id="termButtonLabel"></div>
            </a>
        </div>
    </div>
    <div wicket:id="termDialog"></div>
</wicket:extend>
</body>
</html>