<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>

<wicket:panel>

    <span wicket:id="headerLabel" class="elti-inline-editor-label">[Title:]</span>
    <span wicket:id="asteriskRequired" class="elti-required-asterisk">&#8727;</span>
    <span wicket:id="titleContainer" style="display: inline-block;">
        <span wicket:id="titleLabel" style="display: inline;" class="elti-inline-editor-title-label">[Title]</span>
    </span>
    <span wicket:id="editorContainer" class="elti-inline-editor">
        <wicket:child/>
    </span>
    <span wicket:id="editButton" class="elti-linkbutton">
        <wicket:message key="edit"/>
    </span>

</wicket:panel>
</body>
</html>