<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <wicket:enclosure child="name">
        <div class="tag_category">
            <div wicket:id="name" class="name"></div>
            <wicket:container wicket:id="tagList">
                <div wicket:id="tagPanel"></div>
            </wicket:container>
        </div>
    </wicket:enclosure>
</wicket:panel>
</body>
</html>