<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="workerBean" class="com.eltiland.resource.WorkerBean" init-method="ensureFilesystemReady">
        <property name="rootFSDir" value="${filesystem.output.dir}"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:db.properties"/>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="${jdbc.driver.classname}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>

        <!-- these are C3P0 properties -->
        <property name="minPoolSize" value="15"/>
        <property name="maxPoolSize" value="45"/>
    </bean>

</beans>