<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>

    <div wicket:id="searchDialog"></div>
    <span class="elti-inline-editor-label" wicket:id="titleLabel"></span>
    <a wicket:id="editButton">
        <div wicket:id="label"></div>
    </a>

    <wicket:container wicket:id="chosenElementsListView">
        <div wicket:id="chosenElementsListViewElement"></div>
        <div wicket:id="additionalPanel"></div>
    </wicket:container>

</wicket:panel>
</body>
</html>
