<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div wicket:id="preJoinContainer" class="preJoin">
        <div wicket:id="preJoinInfo" class="info"></div>
        <button wicket:id="openJoinButton" style="margin-top: 13px">
            <wicket:message key="prejoin.button.open"></wicket:message>
        </button>
        <button wicket:id="closeJoinButton" style="margin-top: 13px">
            <wicket:message key="prejoin.button.close"></wicket:message>
        </button>
    </div>
    <div class="clear"></div>

    <div wicket:id="editContainer" class="editContainer">
        <div class="editHeader">
            <div wicket:id="header"></div>
        </div>
        <div wicket:id="editPanel"></div>
    </div>
</wicket:panel>
</body>
</html>