<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div wicket:id="menuContainer">
        <div class="elti-main-menu-wrapper-new">
            <div class="elti-main-menu">
                <div class="elti-menu-list" wicket:id="itemList">
                    <div class="menu-item" wicket:id="item"></div>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>