<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <span wicket:id="asteriskRequired" class="elti-required-asterisk">&#8727;</span>
    <span wicket:id="label" style="font-size:13px;padding-right: 17px"></span>
    <input wicket:id="amount" class="price-field-editor">
    <span style="font-size: 13px">
        <wicket:message key="currencyLabel"></wicket:message>
    </span>

    <div class="clear"></div>
</wicket:panel>
</body>
</html>