.course_item_edit {

}

.course_item_edit > .header {
    width: 100%;
    text-align: center;
    background-color: #f1f7fd;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: "a_Campus";
    color: #757575;
}

.course_item_edit > .actions {
    float: right;
    display: table;
    margin-top: 5px;
    margin-right: 5px;
}

.course_item_edit > .actions > .button {
    display: table-cell;
    padding-right: 5px;
}