/**************************************************************************************************/
/* Styles for Head panel of login/logout/profile links
/**************************************************************************************************/
.login_panel {
    width: 85%;
    height: 30px;
    min-width: 1024px;
    margin: 0 auto;
    margin-top: -15px;
    border: 1px solid #B9B7B7;
    padding-top: 3px;
}

.social_panel {
    width: 85%;
    height: 30px;
    min-width: 1024px;
    margin: 0 auto;
    padding-top: 3px;
}

.social_panel > .social_widget {
    position: relative;
    cursor: pointer;
}

.social_panel > .facebook {
    width: 32px;
    height: 32px;
    background-image: url("../../images/social/facebook.png");
    left: 89%;
}

.social_panel > .instagram {
    width: 32px;
    height: 32px;
    background-image: url("../../images/social/instagram.png");
    left: 93%;
    margin-top: -32px;
}

.login_panel > .login_action {
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    float: right;
    margin-right: 5px;
    color: rgb(145, 142, 142);
}

.login_panel > .login_action:hover {
    background-color: rgb(255, 106, 28) !important;
    color: white !important;
}

.login_panel > .login_action > .icon {
    width: 20px;
    height: 20px;
    float: left;
}

.login_panel > .login_action > .label {
    font-family: "a_Campus" !important;
    margin-left: 23px;
}

.login_panel > .welcome {
    float: right;
    font-family: "a_Campus" !important;
    padding-top: 4px;
    margin-right: 10px;
    color: rgb(145, 142, 142) !important;
}

.login_panel > .login_action > .loginAction {
    background-image: url("../../images/login/enter.png");
}

.login_panel > .login_action > .registerAction {
    background-image: url("../../images/login/register.png");
}

.login_panel > .login_action > .logoutAction {
    background-image: url("../../images/login/lock.png");
}

.login_panel > .login_action > .profileAction {
    background-image: url("../../images/login/profile.png");
}

.login_panel > .login_action > .adminAction {
    background-image: url("../../images/login/admin.png");
}

.login_panel > .login_action > .askQuestion {
    background-image: url("../../images/login/small_email_2.gif");
}

.login_panel > .login_action > .faqAction {
    background-image: url("../../images/login/small_email_2.gif");
}
