<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div class="adminPanel">
        <button wicket:id="add" class="button">
            <wicket:message key="addLabel"></wicket:message>
        </button>
        <button wicket:id="properties" class="button">
            <wicket:message key="propertyLabel"></wicket:message>
        </button>

        <div wicket:id="addVideoDialog"></div>
        <div wicket:id="propertyVideoDialog"></div>
    </div>
</wicket:panel>
</body>
</html>