<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div class="elti-widget elti-create-group">
        <div class="elti-widget-header">
            <h1>
                <div wicket:id="header"></div>
            </h1>
        </div>
        <form wicket:id="form">
            <div wicket:id="videoName"></div>
            <div wicket:id="video"></div>
            <div wicket:id="description"></div>
            <div wicket:id="authorSelector"></div>

            <div wicket:id="required"></div>

            <button wicket:id="createButton" style="margin-top: 10px">
                <wicket:message key="new"></wicket:message>
            </button>
            <button wicket:id="saveButton" style="margin-top: 10px">
                <wicket:message key="save"></wicket:message>
            </button>
        </form>
    </div>
</wicket:panel>
</body>
</html>