<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div class="elti-widget">
        <div class="elti-widget-header">
            <h1>
                <div wicket:id="header"></div>
            </h1>
        </div>
        <div wicket:id="grid" style="margin-top: 5px"></div>
        <button wicket:id="selectButton">
            <wicket:message key="check"></wicket:message>
        </button>
    </div>
</wicket:panel>
</body>
</html>