<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div class="course_icon_panel">
        <div class="image" wicket:id="imagePanel"></div>
        <div class="info">
            <div class="label" wicket:id="label"></div>
            <div class="name" wicket:id="name"></div>
            <div class="dates">
                <div wicket:id="trainingInfo">
                    <div wicket:id="teach"></div>
                    <div wicket:id="join"></div>
                </div>
            </div>
            <div class="author" wicket:id="author"></div>

            <div class="action" wicket:id="register">
                <div class="caption" wicket:id="caption"></div>
            </div>
            <div wicket:id="about" class="about">
                <div class="text">
                    <wicket:message key="about"></wicket:message>
                </div>
            </div>
        </div>
    </div>
    <div wicket:id="invoicePanel"></div>
</wicket:panel>
</body>
</html>