<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div class="sliderFrame" id="sliderFrame">
        <div id="slider">
            <wicket:container wicket:id="imageList">
                <a wicket:id="link">
                    <img wicket:id="image">
                </a>
            </wicket:container>
        </div>
        <div class="group1-Wrapper">
            <a onclick="imageSlider.previous()" class="group1-Prev"></a>
            <a onclick="imageSlider.next()" class="group1-Next"></a>
        </div>
    </div>
</wicket:panel>
</body>
</html>