<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div class="version-switch">
        <div wicket:id="demoButton" class="left-button">
            <div class="message">
                <wicket:message key="demo"></wicket:message>
            </div>
        </div>
        <div wicket:id="fullButton" class="right-button">
            <div class="message">
                <wicket:message key="full"></wicket:message>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>