<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:extend>
    <div wicket:id="selector" class="listener_selector"></div>
    <div wicket:id="nameField"></div>
    <div wicket:id="organizationField"></div>
    <div wicket:id="positionField"></div>
    <div wicket:id="phoneField"></div>
    <div wicket:id="addressField"></div>
    <div wicket:id="experienceField"></div>
    <div wicket:id="legalContainer" style="margin-top: 5px">
        <div style="text-align: center;font-size:14px;font-weight:bold">
            <wicket:message key="child.users"></wicket:message>
        </div>
        <div wicket:id="childTable"></div>
    </div>
    <div wicket:id="userSelectorDialog"></div>
</wicket:extend>
</body>
</html>