<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>

    <div wicket:id="itemContainer" class="elti-news-item" style="margin-bottom: 10px;">

        <div>
            <div wicket:id="type" class="type"></div>
        </div>

        <div wicket:id="title"></div>
        <div wicket:id="body"></div>
        <div wicket:id="date" class="date"></div>

        <div class="clear">
        </div>
        <a wicket:id="archiveLink" href="#" class="elti-news-archive-link">
            <wicket:message key="newsArchive"/>
        </a>
    </div>
</wicket:panel>
</body>
</html>