<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div class="item">
        <div class="caption">
            <div wicket:id="caption"></div>
        </div>
        <div class="actions">
            <div class="iconControlPanel">
                <div wicket:id="download" class="button">
                    <div class="image16 download16"></div>
                </div>
                <div wicket:id="cancel" class="button" style="margin-left: 23px">
                    <div class="image16 cancel16"></div>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>
</body>
</html>