<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:border>
    <div class="eltiland_boxes_darkgray eltiland_maximize_absolute">
        <div class="eltiland_boxes_lightgray eltiland_padding_absolute">
            <div class="eltiland_padding_absolute eltiland_font_black">
                <wicket:body/>
            </div>
        </div>
    </div>
</wicket:border>
</body>
</html>